Source: kwin-script-rgbfilter
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>, Juan Ramon Pelegrina <juapesai@hotmail.com>
Build-Depends: debhelper (>= 9.0)
Standards-Version: 3.9.5
Homepage: https://github.com/lliurex/kwin-script-rgbfilter

Package: kwin-script-rgbfilter
Conflicts:kwin-rgbfilter
Replaces:kwin-rgbfilter
Provides:kwin-rgbfilter
Architecture: all
Depends: kwin-addons,libkf5widgetsaddons-dev
Description: Script for KWin that applies a rgb filter to the display
